/*CARD*/

#mycard1 {
    background-image: linear-gradient(to right top, #50eec5, #3aecb6, #24eaa5, #10e891, #09e57c);
    margin-bottom: 10px;
    border: 0px;
}


/*CARD*/

#mycard2 {
    background-image: linear-gradient(to right top, #ffed31, #f7c814, #eaa400, #da8000, #c65e00);
    border: 0px;
}

#CardTitle {
    color: white;
    text-align: center;
    font-size: 58px;
}

#CardTitle1 {
    color: white;
    text-align: center;
}


/*CARD*/


/*Button*/

#ai {
    color: white;
    position: relative;
    text-decoration: none;
    border: 0px;
}

.h1 {
    text-align: initial;
}


/*button*/


/** BEGIN: Non Openmrs CSS **/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    font-family: "Roboto";
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    padding: 21px;
    border-radius: 4px;
}

h4.title {
    text-align: center;
    margin-bottom: 45px;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1 (text-align right);
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
}


/** END: Non Openmrs CSS **/

div.omrs-input-group {
    position: relative;
}


/*Button*/


/*Boton redondo*/

.boton {
    width: 50px;
    height: 50px;
    background-color: #705bff;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
}

.boton:hover {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha (opacity=50);
}

.boton a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}


/*input*/


/** BEGIN: Non Openmrs CSS **/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    font-family: "Roboto";
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    padding: 21px;
    border-radius: 4px;
}

h4.title {
    text-align: center;
    margin-bottom: 45px;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
}


/** END: Non Openmrs CSS **/

div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
}


/* Input*/

.omrs-input-underlined>input,
.omrs-input-filled>input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
    outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    ;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
    border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
    fill: var(--omrs-color-ink-high-contrast);
}


/*IMPUT fORM*/

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: 100%;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    background: #f0f0f0;
    color: #2b2b2b;
    font-weight: 400;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #f0f0f0;
    font-size: 16px;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}


/* Individual styles */


/* Yoshiko */

.input__field--yoshiko {
    width: 100%;
    background-color: #f7f8f7;
    border: 2px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
    border-radius: 3px;
    height: 50px;
    font-size: 20px;
}

.input__label--yoshiko {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 85%;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 3em, 0);
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
    color: #8B8C8B;
    padding: 0.25em 0;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #0a6ae9;
    padding: 0.25em 0;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.input__field--yoshiko:focus+.input__label--yoshiko,
.input--filled .input__label--yoshiko {
    transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus+.input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus+.input__field--yoshiko,
.input--filled .input__field--yoshiko {
    background-color: transparent;
    border-color: #a3d39c;
}

*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}