/*TABLE*/
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

/*TABLE*/

/*CARD*/
#mycard1 {
  background-image: linear-gradient(
    to right top,
    #d5deea,
    #a2b6d7,
    #728fc3,
    #4468af,
    #024398
  );

  margin-bottom: 10px;

  border: 0px;
}
/*CARD*/
#mycard2 {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.31),
    rgba(249, 43, 43)
  );

  border: 0px;
}

#CardTitle {
  color: white;
  text-align: center;
  font-size: 58px;
}
#CardTitle1 {
  color: white;
  text-align: center;
}
/*CARD*/

/*Button*/
#ai {
  color: white;
  position: relative;
  text-decoration: none;

  border: 0px;
}

#ai:active {
  box-shadow: none;
  top: 5px;
}

.circle-right-btn {
  display: block;
<<<<<<< HEAD
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #fefefe;
  margin-top: 24px;
  font-size: 22px;
=======
  padding: 5px 10px;
  height: 42px;
  margin: 10px auto;
  min-width: 225px;
  -webkit-appearance: none;
  height: 34px;
  /* background-color: #ffffff; */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.h1 {
  text-align: initial;
}

/*button*/

/*input*/
/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto";
}
div.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  padding: 21px;
  border-radius: 4px;
}
h4.title {
  text-align: center;
  margin-bottom: 45px;
}
:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1 (text-align right);
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  position: relative;
>>>>>>> bb4554868a937d0d04f5faec80e03edd610575a9
}
/*Button*/

/*SELECT*/
.custom-select {
  position: relative;
  background-color: #fff;
  font-family: Arial;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  border: 0px transparent;
  border-color: #fff transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 7px;
  background-color: #fff;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #fff;
}
/*SELECT*/
