/*cards*/

#card1 {
    background-image: linear-gradient( to right top, #5c93ff, #7893d8, #5a78de, #3f55b9, #002d9e);
    border: 0px;
}

#card2 {
    background-image: linear-gradient(to right top, #79d7b185, #79d7b1, #00c9b7, #00c9b7, #00c9b7);
    border: 0px;
}


/*fin de cards*/


/*Table*/

.p {
    font-size: 21px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ddd;
    font-size: 20px;
}

#customers tr {
    border-bottom: 0px solid #ddd;
}

#customers td,
#customers th {
    border: 0px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #181918;
    color: white;
}


/*fin de Table*/

#myInput {
    background-image: url("/css/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


/*Boton redondo*/

.boton {
    width: 30px;
    height: 30px;
    background-color: #3f55b9;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
}

.boton:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.boton a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}


/*fin boton redondo*/


/*gupos de botones */

.btn-group .button {
    border: none;
    color: white;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-radius: 3px;
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

#detalle:link,
#detalle:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}