.modal-contenido {
    background-color: white;
    width: 100%;
    height: 100%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#miModal:target {
    opacity: 1;
    pointer-events: auto;
}

#miModal1:target {
    opacity: 1;
    pointer-events: auto;
}

#modal01:target {
    opacity: 1;
    pointer-events: auto;
}