/*TABLE*/
* {
  box-sizing: border-box;
}

#InputUser {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 20px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  margin-top: 10px;
}

#Table-User {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#Table-User th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#Table-User tr {
  border-bottom: 1px solid #ddd;
}

#Table--User tr.header,
#Table-User tr:hover {
  background-color: #f1f1f1;
}

/*CARD*/

#Card-User1 {
  background-image: linear-gradient(to right top,
      #d5deea,
      #a2b6d7,
      #728fc3,
      #4468af,
      #024398);

  margin-bottom: 10px;

  border: 0px;
}

/*CARD*/
#Card-User2 {
  background-image: linear-gradient(to right,
      rgba(255, 0, 0, 0.31),
      rgba(249, 43, 43));

  border: 0px;
}

#CardTitle {
  color: white;
  text-align: center;
  font-size: 40px;
}

#CardTitle1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#CarText1 {
  font-size: 16px;
}

/*CARD*/

/*Button*/
#ai {
  color: white;
  position: relative;
  text-decoration: none;
  border: 0px;
}

#ai:active {
  box-shadow: none;
  top: 5px;
}

#formUser {
  background-color: lightgrey;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 1rem;
}