/*CARD*/

#Card-User1 {
  background-image: linear-gradient(
    to right top,
    #d5deea,
    #a2b6d7,
    #728fc3,
    #4468af,
    #024398
  );
  margin-bottom: 10px;
  border: 0px;
}

/*CARD*/

#Card-User2 {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.31),
    rgba(249, 43, 43)
  );
  border: 0px;
}

#CardTitle {
  color: white;
  text-align: center;
  font-size: 40px;
}

#CardTitle1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#CarText1 {
  font-size: 16px;
}

/*CARD*/

/*Button*/

#ai {
  color: white;
  position: relative;
  text-decoration: none;
  border: 0px;
}

#ai:active {
  box-shadow: none;
  top: 5px;
}

select {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  background: white;
  color: #8a7581;
}

/*SELECT*/

input {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  width: 85%;
}

.btn-mostrar-clave {
  position: absolute;
  margin-right: 0px;
  margin-top: -43px;
  background: white;
  border: none;
  border-radius: 60px;
  height: 25px;
  width: 25px;
  outline: none;
  cursor: pointer;
}

.btn-mostrar-clave:hover {
  background: #c7c7c7;
}

.btn-mostrar-clave:active {
  background: #888888;
}
